.hero {
  width: 100%;
}

.btn-social {
  width: 100%;
  transition: transform 0.2s ease;
}

.btn-social:hover {
  transform: scale(1.05);
}

.btn-facebook {
  background-color: #4267b2;
  border-color: #4267b2;
}

.btn-facebook:hover {
  background-color: #365899;
  border-color: #365899;
}

.btn-google {
  background-color: white;
  color: black;
}
.btn-google:hover {
  background-color: whitesmoke;
  color: black;
}
.btn-instagram {
  background: linear-gradient(
    45deg,
    #f09433,
    #e6683c,
    #dc2743,
    #cc2366,
    #bc1888
  ); /* Gradiente Instagram */
}

.btn-tiktok {
  background-color: #000000;
  border-color: #000000;
}

.btn-tiktok:hover {
  background-color: #252424;
  border-color: #252424;
}
.btn-whatsapp {
  background: #29a313;
}
